name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-macos:
    name: Swift ${{ matrix.swift }} on Xcode ${{ matrix.xcode }}
    runs-on: ${{ matrix.runs-on }}
    env:
      DEVELOPER_DIR: "/Applications/Xcode_${{ matrix.xcode }}.app/Contents/Developer"
    strategy:
      fail-fast: false
      matrix:
        include:
          - swift: "6.0"
            xcode: "16.0"
            runs-on: macos-15
          - swift: "6.1"
            xcode: "16.3"
            runs-on: macos-15
          - swift: "6.2"
            xcode: "26.0"
            runs-on: macos-26

    steps:
      - uses: actions/checkout@v5

      - name: Show Swift version
        run: swift --version

      - name: Build
        run: swift build -v

      - name: Test
        run: swift test -v

  build-linux:
    name: Build & Test (Linux)
    runs-on: ubuntu-latest
    container:
      image: swift:6.0
    steps:
      - uses: actions/checkout@v5

      - name: Show Swift version
        run: swift --version

      - name: Build
        run: swift build

      - name: Run tests
        run: swift test
